<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to ESUP-Portail under one or more contributor license
    agreements. See the NOTICE file distributed with this work for
    additional information regarding copyright ownership.

    ESUP-Portail licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file except in
    compliance with the License. You may obtain a copy of the License at:

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<!-- property configurer -->
	<!--  now we use PortalPropertySourcesPlaceholder...
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" > 
			<list>
				<value>classpath:main.properties</value>
				<value>file:${esupPortletSympa.local.properties}</value>
			</list>
		</property>
	</bean>
	 -->
	<bean id="propertyConfigurer" class="org.springframework.context.support.PortalPropertySourcesPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:main.properties</value>
				<value>file:${portal.home}/global.properties</value>
				<value>file:${portal.home}/esup-portlet-sympa.properties</value>
			</list>
		</property>
	</bean>

	<import resource="emailContext.xml" />
	
	<!-- ehcache -->
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"> 
		<property name="configLocation" value="classpath:ehcache.xml"/>
		<property name="shared" value="false"/>
	</bean>
	
	<!-- CAS PART -->
	<!-- ticket validation filter -->
	<bean id="ticketValidationFilter" class="org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter">
		<property name="redirectAfterValidation" value="false"/>
		<property name="serverName" value="${serverName}"/>
		<property name="proxyReceptorUrl" value="/proxy/receptor"/>
		<property name="ticketValidator" ref="ticketValidator"/>
		<property name="proxyGrantingTicketStorage" ref="proxyGrantingTicketStorage"/>
	</bean>
	<!-- CAS proxy ticket validator -->
   	<bean id="ticketValidator" class="org.jasig.cas.client.validation.Cas20ProxyTicketValidator">
   		<property name="proxyCallbackUrl" value="${casService.proxyCallbackUrl}" />
   		<property name="proxyGrantingTicketStorage" ref="proxyGrantingTicketStorage"/>
   		<property name="acceptAnyProxy" value="true"/>
   		<constructor-arg index="0" value="${cas.base.server.url}"/>
   	</bean>
	<!-- CAS Proxy service bean -->
	<bean id="casTicketService" class="org.esupportail.sympa.recia.CASProxyTicketService">	
		<property name="serverNames" value="${cas.servername.list}" />
		<property name="serviceUrlFormat" value="${portal.service.url.format}" /> 
	    <property name="ticketValidator" ref="ticketValidator"/>
	</bean>
	
	<bean id="proxyGrantingTicketStorage" class="org.jasig.cas.client.proxy.ProxyGrantingTicketStorageImpl"/>
	  <!-- or ehcache impl with class  org.jasig.cas.client.proxy. EhcacheBackedProxyGrantingTicketStorageImpl
	  cache name is : org.jasig.cas.client.proxy.EhcacheBackedProxyGrantingTicketStorageImpl.cache
	  -->
   	
   	<!-- user session scoped info bean -->
   	<bean id="userPreferencesBean" class="org.esupportail.sympa.domain.model.UserPreferences" scope="session">
   		 <!-- this next element effects the proxying of the surrounding bean -->
          <aop:scoped-proxy/>
   	</bean>
   	
   	<bean id="userInfoSympaPortlet" class="org.esupportail.sympa.recia.UserInfoBean" scope="globalSession" >
   		<!--  globalSession indispensable pour que la servlet d'envoie de mail recupere le bean -->
   		 <!-- this next element effects the proxying of the surrounding bean -->
          <aop:scoped-proxy/>
   	</bean>
   	
   	<!-- pour creer la map de robot dynamiquement -->
   	<!-- esco est le stem de la valeur par  defaut pour toutes les map stem2... -->
	<bean id="robotSympaConf" class="org.esupportail.sympa.recia.RobotSympaConf" >
		<property name="formatUrl" value="${liste.url}"/>
		<property name="formatSoapUrl"  value="${liste.soap.url}" />
		<property name="regexFormatByUai">
			<list>
				<value>([^:]+):Applications:Listes_Diffusion:[^:_]+_%s</value>
			</list>
		</property>
		<property name="regexFormatAdminByUai" >
			<list>
				<value>([^:]+):admin:Listes_Diffusion:local:[^:_]+_%s</value>
			</list>
		</property>
		<property name="stem2domaine">
			<map>
				<entry key="esco" value="list.netocentre.fr" />
				<entry key="clg37" value="list.touraine-eschool.fr" />
				<entry key="clg18" value="list.chercan.fr" />
				<entry key="clg41" value="list.colleges41.fr" />
				<entry key="clg36" value="list.e-college.indre.fr" />
				<entry key="clg45" value="list.mon-e-college.loiret.fr" />
			</map>
		</property>
		<property name="stem2PortletAdmin" >
			<map>
				<entry key="esco" value="${portlet.AdminListUrl}" />
			</map>
		</property>
	</bean>
	
   	<!-- list of available roles -->
   	<util:set id="availableRoles">
   		<value>ALL_EMPLOYEE</value>
   		<value>MEMBERS</value>
   	</util:set>
   	<!-- service --> 
   	
	<bean id="domainService" class="org.esupportail.sympa.domain.services.DomainServiceImpl" scope="session">
		<aop:scoped-proxy/>
		<property name="serverList" >
			<bean class="org.esupportail.sympa.recia.ServerListMap" scope="session" >
				<property name="robotSympaConf" ref="robotSympaConf" />
				<property name="userInfoBean" ref="userInfoSympaPortlet" />
				<property name="credentialRetriever" ref="${credentialRetriever}" />
				<property name="indentityRetriever" ref="userIdentityRetrieverImpl" />
				<property name="connectUrl"
							value="${cas.base.server.url}/login?service=%s%3Fchecked_cas=0" />
				<property name="timeout" value="5000" />
				<property name="cacheManager" ref="cacheManager" />
				<property name="newListForRoles" >
					<set>
						<value>${group.newListForRoles}</value>
					</set>
				</property>
			</bean>
		</property>
	</bean>
	
   	<!-- service org 
	<bean id="domainService" class="org.esupportail.sympa.domain.services.DomainServiceImpl" scope="session">
		<aop:scoped-proxy/>
		<property name="serverList">
			<map>
				<entry key="${liste.name}">
					<bean
						class="org.esupportail.sympa.domain.services.sympa.SpringCachingSympaServerAxisWsImpl"
						scope="session">
						<property name="adminUrl" value="${liste.url}/admin/%l" />
						<property name="connectUrl"
							value="${cas.base.server.url}/login?service=%s%3Fchecked_cas=0" />
						<property name="name" value="${liste.name}" />
						<property name="newListUrl" value="${liste.url}/create_list_request" />
						<property name="homeUrl" value="${liste.url}" />
						<property name="endPointUrl" value="${liste.soap.url}" />
						<property name="timeout" value="5000" />
						<property name="credentialRetriever" ref="${credentialRetriever}" />
						<property name="indentityRetriever" ref="userIdentityRetrieverImpl" />
						<property name="cacheManager" ref="cacheManager" />
						<property name="newListForRoles">
							<set>
								<value>${group.newListForRoles}</value>
							</set>
						</property>
					</bean>
				</entry>
			</map>
		</property>
	</bean>
	-->
	<!-- helpers -->
	<bean id="casCredentialRetrieverImpl" class="org.esupportail.sympa.domain.services.sympa.CASCredentialRetrieverImpl">
		<property name="casPtGeneratorService">
			<bean class="org.esupportail.sympa.domain.services.cas.CASPtGeneratorImpl">
				<property name="casAssertionRetriever">
					<bean class="org.esupportail.sympa.domain.services.cas.CASAssertionRetrieverImpl">
						<property name="userPreferences" ref="userPreferencesBean"/>
					</bean>
				</property>
				<property name="casProxyTicketService" ref="casTicketService"/>
			</bean>
		</property>
	</bean>
	
	<bean id="userIdentityRetrieverImpl" class="org.esupportail.sympa.domain.services.sympa.UserIdentityRetrieverImpl">
		<property name="userPreferences" ref="userPreferencesBean"/>
	</bean>
	
	<bean id="simplePasswordCredentialRetrieverImpl" class="org.esupportail.sympa.domain.services.sympa.SimplePasswordCredentialRetrieverImpl">
		<property name="username" value="${sympasoap.username}"/>
		<property name="password" value="${sympasoap.password}"/>		
	</bean>
	

	<!-- view resolver -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	<!-- exception resolver -->
	<bean id="defaultExceptionHandler" class="org.springframework.web.portlet.handler.SimpleMappingExceptionResolver"> 
    	<property name="order" value="10"/> 
    	<property name="defaultErrorView" value="error"/> 
    	<property name="warnLogCategory" value="org.esupportail.sympa"/>
	</bean>
	<!-- localisation -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="useCodeAsDefaultMessage" value="true"/>
		<property name="basenames">
			<list>
			<value>gipRecia</value>
			<value>messages</value>
				
			</list>
		</property>
	</bean>

	<!-- various interceptors -->
	<bean id="sessionInitInterceptor" class="org.esupportail.sympa.portlet.web.interceptors.SessionInitInterceptor">
		<property name="userInfoMailAttr" value="mail"/>
		<property name="userPreferences" ref="userPreferencesBean"/>
		<property name="availableRoles" ref="availableRoles"/>
	</bean>
	<bean id="casProxyInitInterceptor" class="org.esupportail.sympa.portlet.web.interceptors.CasProxyInitializationService">
		<property name="proxyTicketService" ref="casTicketService"/>
		<property name="userPreferences" ref="userPreferencesBean"/>
	</bean>	
	
	<bean id="userInfoInitInterceptor" class=" org.esupportail.sympa.recia.UserInfoInitInterceptor" > 
		<property name="userInfo" ref="userInfoSympaPortlet" />
		<property name="attrMail" value="${user.attr.mail}" />
		<property name="attrUai" value="${user.attr.uai}" />
		<property name="attrAllUai" value="${user.attr.allUai}" />
		<property name="attrName" value="${user.attr.name}" />
		<property name="attrMemberOf" value="${user.attr.memberof}" />
		<property name="mailForDebug"  value="${user.mail.fromForDebug}" />
	</bean>
	
	<!-- portlet mode handler view/edit/help -->
	 <bean id="portletModeHandlerMapping" class="org.springframework.web.portlet.handler.PortletModeHandlerMapping">
	 	<property name="order" value="10"/>
	 	<property name="interceptors">
	 		<list>
	 			<ref bean="sessionInitInterceptor"/>
	 			<ref bean="casProxyInitInterceptor"/>
	 			<ref bean="userInfoInitInterceptor" />
	 		</list>
	 	</property>
	 	<property name="portletModeMap">
	 		<map>
	 			<entry key="view" value-ref="homeController"/>
	 		</map>
	 	</property>
	 </bean>
	 <bean id="portletParameterMapping" class="org.springframework.web.portlet.handler.PortletModeParameterHandlerMapping">
	 	<property name="order" value="20"/>
	 	<property name="interceptors">
	 		<list>
	 			<ref bean="sessionInitInterceptor"/>
	 			<ref bean="casProxyInitInterceptor"/>
	 			<!-- parameter mapping interceptor : map action to controller  -->
	 			<bean class="org.springframework.web.portlet.handler.ParameterMappingInterceptor"/>
	 		</list>
	 	</property>
	 	<!-- action to controller mapping -->
	 	<property name="portletModeParameterMap">
	 		<map>
	 			<entry key="view">
	 				<map>
	 					<entry key="home" value-ref="homeController"/>		
	 				</map>
	 			</entry>
	 		</map>
	 	</property>
	 </bean>
	 <!-- default message code resolver for validation -->
	 <bean id="defaultMessageCodeResolver" class="org.springframework.validation.DefaultMessageCodesResolver">
	 	<property name="prefix" value="validation."/>
	 </bean>

	 <!--  controllers -->

	  <!--  userAgentInspector -->

	  <bean id="userAgentInspector" class="org.esupportail.sympa.portlet.services.UserAgentInspector">
	    <property name="userAgentMobile">
		    <!-- Regexes of mobile device user agents -->
		    <list>
                        <!--
		        <value>.*iPhone.*</value>
		        <value>.*Android.*</value>
		        <value>.*Safari.*Pre.*</value>
		        <value>.*Nokia.*AppleWebKit.*</value>
                        -->
		    </list>
	    </property>
	  </bean>

<!--  	 <bean id="homeController" class="org.esupportail.sympa.portlet.web.controllers.HomeController"> -->
		<bean id="homeController" class="org.esupportail.sympa.recia.HomeController">
	 	<property name="viewName" value="home"/>
	 	<property name="domainService" ref="domainService"/>
	 	<property name="requireSession" value="true"/>
	 	<property name="commandClass" value="org.esupportail.sympa.portlet.web.beans.HomeForm"/>
	 	<property name="renderWhenMinimized" value="false"/>
	 	<property name="commandName" value="searchForm"/>
		<property name="userAgentInspector" ref="userAgentInspector"/>
		<property name="sendMailUrl" value="/${portlet.context}/servlet-ajax/sendEmail" />
		<property name="userInfo"  ref="userInfoSympaPortlet" />
	 </bean>

</beans>
